{% if player_info['equipment_info'] is defined %}
<div class="tab-pane" id="equipment_info">
    <table class="table table-condensed">
        <thead>
          <tr>
            <th>装备ID</th>
            <th>模板ID</th>
            <th>数量</th>
            <th>过期时间</th>
            <th>品质等级</th>
            <th>强化等级</th>
          </tr>
        </thead>
        <tbody>
          {% for info in player_info['equipment_info'] %}
            <tr>
               <td>{{ info['obj_id'] }}</td>
               <td>{{ info['temp_id'] }}</td>
               <td>{{ info['item_count'] }}</td>
               <td>{{ info['expire_time'] }}</td>
               <td>{{ info['quality_level'] }}</td>
               <td>{{ info['upgrade_level'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
