{% if player_info is defined %}
  <div class="span8" style="margin-top: 20px;padding-bottom: 10px;">
      <div class="module-title nav-header">
          <h2 style="border-bottom: solid 1px #ddd;padding-bottom: 10px;">
          玩家《{{ player_info['role_info']['name'] }}》的详细角色信息
          </h2>
      </div>
      <div class="row-fluid">
          <table class="table table-bordered">
              <tbody id="player_infos">
                  <caption>玩家基本信息</caption>
                  <tr>
                    <td>玩家 ID</td>
                    <td>{{ player_info['role_info']['id'] }}</td>
                  </tr>
                  <tr>
                    <td>玩家名字</td>
                    <td>{{ player_info['role_info']['name'] }}</td>
                  </tr>
                  <tr>
                    <td>VIP 等级</td>
                    <td>{{ player_info['common_data']['vip_level'] }}</td>
                  </tr>
                  <tr>
                    <td style="width: 80px;">帐号 ID</td>
                    <td>{{ player_info['account_info']['account_id'] }}</td>
                  </tr>
              </tbody>
          </table>

          <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              {% if player_info['common_data'] is defined %}
                  <li class="active"><a href="#common_data" data-toggle="tab">基础数值</a></li>
              {% endif %}

                {% if player_info['inventory_info'] is defined %}
                  <li><a href="#inventory_info" data-toggle="tab">包裹</a></li>
              {% endif %}

              {% if player_info['quest_info'] is defined %}
                  <li><a href="#quest_info" data-toggle="tab">任务</a></li>
              {% endif %}

              {% if player_info['equipment_info'] is defined %}
                  <li><a href="#equipment_info" data-toggle="tab">装备</a></li>
              {% endif %}

              {% if player_info['skill_list'] is defined %}
                  <li><a href="#skill_list" data-toggle="tab">技能</a></li>
              {% endif %}

              {% if player_info['pvp_info'] is defined %}
                  <li><a href="#pvp_info" data-toggle="tab">PvP</a></li>
              {% endif %}

              {% if player_info['player_mail'] is defined %}
                  <li><a href="#player_mail" data-toggle="tab">邮件</a></li>
              {% endif %}
            </ul>
            <div class="tab-content">
                {% include 'DreamHeavenAdminBundle::PlayerManagement/Player/inspector/common_data.html.twig' %}
                {% include 'DreamHeavenAdminBundle::PlayerManagement/Player/inspector/inventory_info.html.twig' %}
                {% include 'DreamHeavenAdminBundle::PlayerManagement/Player/inspector/quest_info.html.twig' %}
                {% include 'DreamHeavenAdminBundle::PlayerManagement/Player/inspector/equipment_info.html.twig' %}
                {% include 'DreamHeavenAdminBundle::PlayerManagement/Player/inspector/skill_list.html.twig' %}
                {% include 'DreamHeavenAdminBundle::PlayerManagement/Player/inspector/pvp_info.html.twig' %}
                {% include 'DreamHeavenAdminBundle::PlayerManagement/Player/inspector/player_mail.html.twig' %}
            </div>
          </div>
      </div>
  </div>
{% endif %}
